<header>
  <h1>TinyApp</h1>
  <form class="form-inline" action="/login" method="POST">
    <div class="form-group mb-2">
        <label for="username">Username:</label> &nbsp;
        <input class="form-control" type="text" name="username" style="width: 200px;"> &nbsp;
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
</header>