<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>TinyApp</title>
</head>

<body style="font-size:20px; padding:50px;">
    <header>
        <% include ./partials/_header.ejs %>
        <a href="http://localhost:8080/urls/new">Create New TinyURL</a>
    </header>
    <br>
    <h3><b>My URLS</b></h3>
    <% if (urls) {%>
    <div class='row'>
        <div style='float: left'>
            <h4>
                <ul>
                    <% for (let i in urls) {%>
                    <li>
                        <b>
                            <%=i%>
                        </b>
                    </li>
                    <% }%>
                </ul>
            </h4>
        </div>
        <div style='float: center'>
            <h4>
                <% for (let i in urls) {%>
                :&nbsp;
                <a href='<%= urls[i]%>'>
                    <%= urls[i]%>
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <br>
                <% }%>
            </h4>
        </div>
        <div style='float: right'>
            <h5>
                <% for (let i in urls) { %>
                <% let dUrl = `/urls/${i}/delete`%>
                <form method='POST' action='<%= dUrl%>'>
                    <button type='submit'>Delete 🗑</button>
                </form>
                <% }%>
            </h5>
        </div>
    </div>
    <% }%>
</body>

</html>